<div class="registration">
  Welcome to SlimLink, shorten your URL so it's easier to view link and share with friends!<br>

  <h2>Register</h2>

  <%= render partial: "registration_form" %>

  <%= link_to 'Home', root_url %>
</div>
